{
  "extends": "airbnb",
  "globals": {
    "describe": false,
    "it": false,
    "expect": false,
    "document": false,
    "window": false
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
