{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "globals": {
    "describe": false,
    "it": false,
    "expect": false,
    "document": false,
    "window": false
  },
  "rules": {
    "arrow-parens": 0,
    "function-paren-newline": 0,

    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
