$number-display-color: #202020;
$number-cell-color: #CFD0D3;
$admin-cell-color: #B1B3B5;
$operator-cell-color: #F78128;


@mixin calculatorCell($color, $align: center) {
  display: flex;
  background: $color;
  justify-content: $align;
  align-items: center;

  font-size: 8vh;

  border-width: thin 0 0 thin;
  border-color: black;
  border-style: solid;

  user-select: none;

  &.active {
    background-color: darken($color, 8%);
  }
}

.row {
  height: 16.3vh;

  &:last-child {
    border-width: 0 0 thin 0;
    border-color: black;
    border-style: solid;
  }
}

.clearCell {
  @include calculatorCell($admin-cell-color);
}

.numberCell {
  @include calculatorCell($number-cell-color);
}

.operatorCell {
  @include calculatorCell($operator-cell-color);

  color: white;
}

.numberDisplay {
  @include calculatorCell($number-display-color, flex-end);

  color: white;
}