$number-display-color: #202020;
$number-cell-color: #CFD0D3;
$admin-cell-color: #C1C3C5;
$operator-cell-color: #F78128;


.row {
  height: 16.3vh;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8vh;

  border-width: thin 0 0 thin;
  border-color: black;
  border-style: solid;
}

.isActive {
  border-width: medium 0 0 medium;
}

.clearCell {
  background: $admin-cell-color; 
}

.numberCell {
  background: $number-cell-color;
}

.operatorCell {
  background: $operator-cell-color;
  color: white;
}

.numberDisplay {
  text-align: right;
  background: $number-display-color;
  color: white;
}